/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* #FFFFFF
#212121
#FFFFFF
#757575
#2196F3
#EEEEEE
#000000
#F5F4FA
#FFFFFF
#2F303A
#ECECEC
*/

:root {
    /*Основные шрифты*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.body {
font-family: var(--main-font);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

body {
font-family: var(--main-font);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

.header-link, .footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.header-link {
  margin-right: 93px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-mail {
 margin-right: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
  .contact-list {
  color: #757575;
  list-style: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  }

  .web-link {
    color: #2196F3;
  }

.nav-list {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
display: flex;
align-items: center;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin: 0;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}


.h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.subtitle {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: none;
color: #212121;
text-transform: uppercase;
width: 270px;
margin-bottom: 10px;
padding-top: 94px;
}

.subtitle:last-child {
  margin-right: 0px;
}

.about-descr {
  width: 270px;
  padding-bottom: 94px;
} 

.about-descr:last-child {
  margin-right: 0px;
}

.about-item {
  margin-right: 30px;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: none;
color: #FFFFFF;
text-transform: uppercase;
padding-top: 200px;
margin-left: auto;
margin-right: auto;
width: 696px;
display: flex;
}

.hero {
  background: #2F303A;
}

 .hero-button {
 font-family: inherit;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.06em;
 color: #FFFFFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 background: #2196F3;
 border-radius: 4px;
 padding: 10px 32px;
 margin-top: 30px;
 margin-bottom: 200px;
}

.about-list {
  display: flex;
}

.services-list {
  display: flex;
}

.services-title {
  width: 376;
  margin-bottom: 50px;
}

.services-list-item {
margin-right: 30px;
}

/*Команда*/

  .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
  }

  .team-title {
    padding-top: 94px;
    padding-bottom: 50px;
  }
    
  .team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
  }
    
  .team-list {
   color: rgba(255, 255, 255, 0.6);
   display: flex;
   align-items: center;
  }

  .team-title, .services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  }

  .team-item {
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    border: 1px coral;

  }
    
/*Футер*/

.footer-adress {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal
}

 .footer-list {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer{
background: #2F303A;
}

.footer-link{
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  }

  a {
    text-decoration: none;
    color: inherit;
  }


  .fotter-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

 /*Портфолио*/

  .hero-portfolio-batton{
  font-family:var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background: #F5F4FA;
  }

  .hero-portfolio-batton:hover,
  .hero-portfolio-batton:focus {
    background: #2196F3;
    color: #FFFFFF;
  }

  .portfolio-services-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  }

  .portfolio-services-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
  }

  .hero-portfolio-batton {
    font-family: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }

   ul, ol{
    list-style: none;
  }

   .nav-item:hover {
    color: #2196F3;
  }